  <h3 class="routine-title">My morning routine:</h3>
  <ol class="task-list">
    <% @tasks.each do |task| %>
      <li>
        <a href="<%= task_path(task.id) %>">
        <%= task.name %>
        </a>
        <ul>
          <li>
            <!-- <%#= form_with model: @task, class: "form" do |f| %>
              <%#= f.label :complete, "Mark Complete" %> -->
          </li>
          <li>
            <%= link_to "Edit", edit_task_path(task.id) %>
          </li>
          <li>
            <%= link_to "Delete", task_path(task.id), method: :delete, data: {confirm: "Are you sure?"} %>
          </li>
        </ul>
      </li>
    <% end %>
  </ol>
