<section class="one-task">
  <% if @task.nil? %>
    <h1> 404 NOT FOUND DUDE </h1>
  <% else %>
    <h1>Task: <%= @task.name %> </h1>
    <p><%= @task.description %> </p>
    <h3>Must be completed by: <%= @task.completion_time%> </h3>
  <% end %>

</section>
